<div class="layout" *ngIf="user$ | async as user">
  <div class="logoWrap">
    <a routerLink="" class="logo">
      <img src="../../assets/img/header-logo.png" alt="Tindin" />
    </a>
  </div>

  <form action="" class="searchWrap" *ngIf="!user.user_id">
    <input type="search" />
    <button>Search</button>
  </form>

  <div class="loginWrap" >
    <a routerLink="login" class="login" *ngIf="!user.user_id">Login</a>
    <a class="login" (click)="logout()" *ngIf="user.user_id">Logout</a>
  </div>
</div>
