<div class="layout">
  <div class="siteMap">
    <p><a href="">Home</a> Name of the game here</p>
  </div>
  <div class="cadastroWrap">
    <app-galeria [galeriaData]="galeriaData"></app-galeria>

    <div class="foto">
      <button mat-raised-button (click)="openDialog()">Abrir modal</button>
    </div>

    <div class="form">
      <form (ngSubmit)="cadastrar()" #cadastrarJogo="ngForm">
        <div class="row">
          <input type="text" class="nome" name="title" placeholder="Enter game name" [(ngModel)]="title" />
        </div>
        <div class="row">
          <label>Genres:</label>

          <mat-form-field appearance="fill">
            <mat-label>Toppings</mat-label>
            <mat-select [(ngModel)]="genres" name="genre" multiple>
              <mat-option *ngFor="let genre of listaGenres" [value]="genre">
                {{ genre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <label>Platforms:</label>

          <mat-form-field appearance="fill">
            <mat-label>Toppings</mat-label>
            <mat-select [(ngModel)]="platforms" name="platform" multiple>
              <mat-option *ngFor="let platform of listaPlatforms" [value]="platform">
                {{ platform }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <label>Tags:</label>
          <!-- <input type="text" name="tag" title="tag" [(ngModel)]="tag" />
          <button (click)="inserirTag(tag)">Inserir Tag</button> -->

          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let fruit of tags" (removed)="removeTag(fruit)">
                {{ fruit }}
                <button matChipRemove>
                  <!-- <mat-icon>cancel</mat-icon> -->
                  -
                </button>
              </mat-chip>
              <input
                placeholder="New fruit..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)"
              />
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div class="row">
          <label>Medium Price:</label>
          <input [(ngModel)]="mediumPrice" name="price" title="price" type="text" />
        </div>
        <div class="row">
          <label>Release Year:</label>
          <input [(ngModel)]="releaseYear" name="releaseYear" title="releaseYear" type="text" />
        </div>
        <div class="row">
          <label>Description:</label>
          <textarea [(ngModel)]="description" name="description" title="description"></textarea>
        </div>
        <div class="row">
          <button type="submit" class="submit" (click)="cadastrar()" [disabled]="cadastrarJogo.invalid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
