.galeriaWrap {
  height: 500px;
  width: 500px;
}

.semFoto {
  background: #2e2c2c;
  color: #545151;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
