<form #modalForm="ngForm" class="modalWrap">
  <h1 mat-dialog-title>Adicionar Foto ou Vídeo</h1>
  <div mat-dialog-content>
    <div class="row">
      <input required type="text" placeholder="Insert Name" matInput [(ngModel)]="data.name" title="name" name="name" />
    </div>
    <div class="row">
      <input required type="url" placeholder="Insert URL" matInput [(ngModel)]="data.url" title="url" name="url" />
    </div>
    <div class="row">
      <p>Tipo de Mídia</p>
      <label>
        <input [(ngModel)]="data.type" value="foto" type="radio" name="tipoMidia" id="foto" title="foto" required />
        Foto
      </label>
      <label
        ><input
          [(ngModel)]="data.type"
          value="video"
          type="radio"
          name="tipoMidia"
          id="video"
          title="video"
          required
        />Vídeo</label
      >
    </div>
  </div>
  <div mat-dialog-actions>
    <button [disabled]="modalForm.invalid" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</form>
