<div class="layout">
  <div class="photosWrap">
    <div class="photo"
         *ngFor="let photo of gameResult?.photos">
      <img src="{{photo.url}}"
           alt="">
    </div>
  </div>
  <div class="detailsWrap">
    <h2 class="title">{{gameResult?.title}}</h2>
    <p class="resume">
      {{gameResult?.resume}}
    </p>
    <div class="boxDetails">
      <p>Genres:
          <span *ngFor="let genre of gameResult?.genres">
            {{genre}}
          </span>
      </p>
      <p>Total votes:{{gameResult?.totalVotes}}</p>
      <p>Platforms:
        <span *ngFor="let platform of gameResult?.platforms">
          {{platform}}
        </span>
      </p>
      <p>Tags:
        <span *ngFor="let tag of gameResult?.tags">
          {{tag}}
        </span>
      </p>
    </div>
<div class="priceWrap">
  <p class="price">
    Medium Price
    {{gameResult?.mediumPrice | currency }}
  </p>
  <p class="releaseDate">
    Release Date:
    {{gameResult?.launchDate | date}}
  </p>
</div>
<button class="submit">VOTE NOW</button>
  </div>
  <div class="descriptionWrap">
    <h2>Description</h2>
    <div class="box">
      {{gameResult?.description}}
    </div>
  </div>

</div>
