<div class="layout" *ngIf="this.gameResult">
  <div class="photosWrap">
    <app-galeria-game-interna [resultPhotos]="this.gameResult.photos"></app-galeria-game-interna>
  </div>

  <div class="detailsWrap">
    <h2 class="title">
      <span class="rating">{{ gameResult?.rating }}/10</span> {{ gameResult?.title }}
    </h2>
    <p class="resume">
      {{ gameResult?.resume }}
    </p>
    <hr />
    <div class="boxDetails">
      <p>
        <strong>Genres:</strong>
        <span *ngFor="let genre of gameResult?.genres"> {{ genre }}, </span>
      </p>
      <p><strong>Total votes:</strong>{{ gameResult?.totalVotes }}</p>

      <p>
        <strong>Platforms:</strong>
        <span *ngFor="let platform of gameResult?.platforms"> {{ platform }}, </span>
      </p>

      <p>
        <strong>Tags:</strong>
        <span *ngFor="let tag of gameResult?.tags"> {{ tag }}, </span>
      </p>
    </div>
    <div class="priceWrap">
      <hr />
      <p class="price">
        <strong>Medium Price: </strong>
        <span class="rosa">
          {{ gameResult?.mediumPrice | currency }}
        </span>
      </p>

      <p class="releaseDate"><strong>Release Date: </strong>{{ gameResult?.releaseYear }}</p>

      <button class="submit" (click)="voteGame(5)">VOTE NOW</button>
      <hr />
    </div>
  </div>
  <div class="descriptionWrap">
    <h2>Description</h2>
    <div class="box">
      <p>{{ gameResult?.description }}</p>
    </div>
  </div>
</div>
